body{
    height: 1000px;
    width: 1000px;
    display: flex;
}

#sidebar{
    width: 200px;
    height: 100%;
    background-color: aliceblue
}

#content{
    width: 100%;
    background-color: white;
}

.side-bar-div{
    width: 100%;
    height: 20px;
}

.side-bar-div > button{
    height: 100%;
    width: 50%;
    border-color: transparent;
    color: rgb(160, 6, 6);
}

#create_task_block{
    width: 400px;
    height: 200px;
}

